@include mobile-only {
  .accordion-btn {
    position: relative;

    width: 16px;
    height: 16px;
    padding: 0;

    background-color: transparent;
    border: 0;
    cursor: pointer;

    &::before,
    &::after {
      top: 50%;
      left: 0;

      background-color: $grey;

      transition: $transition-duration $transition-type;

      @include pseudo(16px, 1px);
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $almost-black;
      }
    }

    &--on {
      &::before {
        transform: rotate(-180deg);
      }

      &::after {
        transform: rotate(0deg);
      }
    }
  }
}
