.page-header {
  padding: 33px 0;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73.5%;
  margin: 0 auto;
}

.page-header__logo-link {
  margin-right: 30px;

  &[href] {
    @include hover;
  }
}

.page-header__logo {
  &--desktop {
    display: block;
  }

  &--mobile {
    display: none;
  }
}

.page-header__contacts {
  display: flex;
  flex-grow: 1;
}

.page-header__contacts-list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;

  @include ul-reset;
}

.page-header__contacts-item {
  position: relative;

  &--mail {
    margin-right: 9.3%;
    padding-left: 39px;

    .page-header__contacts-link::before {
      top: 4px;
      left: 0;

      background: url("../img/svg/icon-mail.svg") no-repeat;

      @include pseudo(19px, 14px);
    }
  }

  &--phone {
    padding-left: 34px;

    .page-header__contacts-link::before {
      top: 0;
      left: 0;

      background: url("../img/svg/icon-phone.svg") no-repeat;

      @include pseudo(18px, 18px);
    }
  }
}

.page-header__contacts-link {
  color: $white;

  @include font(16px, 18px);
  @include hover;
}

.page-header__contacts-cb-btn {
  max-width: 230px;
  margin-left: 4.3%;

  @include hover;
}

@include not-desktop {
  .page-header {
    padding: 20px 0;
  }

  .page-header__wrapper {
    width: 93.5%;
  }

  .page-header__contacts-list {
    padding-bottom: 4px;
  }

  .page-header__contacts-item {
    &--mail {
      margin-right: 33px;
      padding-left: 25px;

      .page-header__contacts-link::before {
        top: 3px;

        width: 26px;
        height: 19px;

        background-size: cover;
      }
    }

    &--phone {
      padding-left: 24px;

      .page-header__contacts-link::before {
        width: 24px;
        height: 24px;

        background-size: cover;
      }
    }
  }

  .page-header__contacts-link {
    font-size: 0;
  }

  .page-header__contacts-cb-btn {
    display: none;
  }
}

@include mobile-only {
  .page-header {
    padding: 17px 0;
  }

  .page-header__wrapper {
    width: 90.6%;
  }

  .page-header__contacts-item {
    &--mail {
      margin-right: 25px;
    }
  }

  .page-header__logo {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

@include desktop {
  .page-header__wrapper {
    min-width: 960px;
  }
}
