$desktop-full-width: 1440px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-min-width: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$transition-duration: 0.3s;
$transition-type: ease;

$hover: 0.6;
$active: 0.3;
$no-hover: 1;

$white: #ffffff;
$black: #000000;
$blue: #00b2ff;
$almost-black: #1b2d37;
$bg-footer-white: #fafafa;
$text-light-black: #666666;
$bd-grey: #ebebeb;

$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
